


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel='stylesheet', href='/buttons.css')
    body     
        main
            script(type="text/javascript").
                const copyToClipboard = (str) => {
                    const el = document.createElement('textarea');  
                    el.value = str;                                 
                    el.setAttribute('readonly', '');                
                    el.style.position = 'absolute';                 
                    el.style.left = '-9999px';                      
                    document.body.appendChild(el);                 
                    const selected =            
                        document.getSelection().rangeCount > 0        
                        ? document.getSelection().getRangeAt(0)     
                        : false;                                   
                    el.select();                                    
                    document.execCommand('copy');                 
                    document.body.removeChild(el);                 
                    if (selected) {                                 
                        document.getSelection().removeAllRanges();    
                        document.getSelection().addRange(selected);   
                    }
                };
            div(class="header")
                h1 Spotifriends
            form(action="/createGroup", method="POST", class="form-style-8")
                input(type='text', name='Groupname')
                button(type='submit' class="button_playlist") Create Group
            ul(class="group")
                each val in groups
                    li= val.group_name
                    button(type='button' class="button_playlist", onClick='copyToClipboard(\'http://localhost:3000/joinGroup?playlistID=' + val.spotify_id + '\')') Copy Link                             
    

                

